# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (user uploads)
media/

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Migrations (Uncomment below if you REALLY want to ignore migrations)
# */migrations/*
# !*/migrations/__init__.py
